.TestApp {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 25px;
}

.App-header {
    background-color: #222;
    padding: 10px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.App-single-component-block {
    display: flex;
    border: 1px solid #777;
    min-height: 100px;
}

.App-component-label {
    width: 200px;
    border-right: 2px solid #777;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.App-component-content {
    padding: 5px;
    border-left:1px solid #000;
}
